apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "organization_name": "REDACTED",
      "account_name": "REDACTED",
      "user": "REDACTED",
      "role": "REDACTED",
      "authenticator": "REDACTED",
      "private_key": "REDACTED" 
    }
